<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">

  <div class="row">
    <div class="col-xs-12">
      Clicked Row = {{clickedRow}}
      <br>
      Clicked Column = {{clickedColumn}}
    </div>
  </div>

  <div class="row" ng-repeat="row in grid track by $index">
    <div class="col-xs-2" ng-repeat="cell in row track by $index" ng-click="cellClick($parent.$index, $index)">
      <div class="cell">
        CELL {{$parent.$index}} / {{$index}}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 text-center">
      <input type="button" value="Up" ng-click="up()">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center">
      <input type="button" value="Left" ng-click="left()">
      <input type="button" value="Click" ng-click="click()">
      <input type="button" value="Right" ng-click="right()">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center">
      <input type="button" value="Down" ng-click="down()">
    </div>
  </div>

  <div class="row text-center">
    pointerTop: <input type="number" ng-model="pointerTop" >
    pointerLeft: <input type="number" ng-model="pointerLeft">
    step: <input type="number" ng-model="pointerStep">
  </div>

  <div class="row text-center">
    <input type="text" placeholder="Channel" ng-model="channel">
    <button ng-click="joinChannel()">Join</button>
  </div>

  Drag this bookmark to bookmarks bar
  <a href="javascript:(function(){s=document.createElement('script');s.type='text/javascript';s.src='http://localhost:9000/remote-mouse.js';document.body.appendChild(s);})();">Remote-Mouse</a>

</div>

<i class="pointer fa fa-mouse-pointer" ng-style="{ 'top': pointerTop + 1 + 'px', 'left': pointerLeft + 1 + 'px'}"></i>
